:root {
  --color-primary: #c5a47e;
  --color-secondary: #b58b5b;
  --color-white: #fff;
  --color-red-light: #c20f45;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --default-font-size: 1.6rem;
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-horizontal: 6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading-secondary {
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary)), to(var(--color-secondary)));
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-secondary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(var(--color-black-rgb), 0.3);
}

.heading-tertiary {
  font-size: var(--default-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--default-font-size);
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.btn-text::after {
  content: '\27F6';
  color: var(--color-primary);
}

.btn-text:hover::after {
  color: var(--color-white);
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  padding: 3px;
  color: var(--color-black);
  font-size: var(--default-font-size);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: 2px solid var(--color-primary);
}

.btn-text:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  -webkit-box-shadow: 0 1rem 2rem rgba(var(--color-black-rgb), 0.3);
          box-shadow: 0 1rem 2rem rgba(var(--color-black-rgb), 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(var(--color-black-rgb), 0.3);
          box-shadow: 0 0.5rem 1rem rgba(var(--color-black-rgb), 0.3);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.composition {
  position: relative;
}

.composition__photo {
  position: absolute;
  z-index: 10;
  width: 65%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(var(--color-black-rgb), 0.4);
          box-shadow: 0 1.5rem 4rem rgba(var(--color-black-rgb), 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.composition__photo--p1 {
  left: 0rem;
  top: -2rem;
}

.composition__photo--p1:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.composition__photo--p2 {
  right: 1rem;
  top: 2rem;
}

.composition__photo--p3 {
  left: 10%;
  top: 15rem;
}

.composition__photo:hover {
  z-index: 20;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(var(--color-black-rgb), 0.5);
          box-shadow: 0 2.5rem 4rem rgba(var(--color-black-rgb), 0.5);
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.row-1-of-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-1-of-2 .card {
  position: relative;
  width: 50%;
  max-height: 320px;
  overflow: hidden;
  text-align: center;
}

.row-1-of-2 .card:hover .card--img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.row-1-of-2 .card:hover .card__block::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.row-1-of-2 .card--img {
  width: 100%;
  height: 100%;
  -webkit-transition: 5s;
  transition: 5s;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.row-1-of-2 .card__block {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
}

.row-1-of-2 .card__block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.row-1-of-2 .card__btn--primary {
  z-index: 11;
  text-decoration: none;
  cursor: pointer;
}

.row-1-of-2 .card__btn--primary:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--color-primary);
          text-decoration-color: var(--color-primary);
}

.row-1-of-2 .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-white);
  font-size: 3rem;
  cursor: pointer;
}

.row-1-of-2 .card-title--small {
  color: var(--color-primary);
  font-size: 1.75rem;
  font-weight: 900;
  text-transform: uppercase;
}

.row-1-of-2 .card__btn--secondary {
  z-index: 10;
  margin-top: 15px;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
  cursor: pointer;
}

.row {
  max-width: var(--grid-width);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row:not(:last-child) {
  margin-bottom: var(--gutter-vertical);
}

.row [class^='col-']:not(:last-child) {
  margin-right: var(--gutter-horizontal);
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem));
}

.header {
  position: relative;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(235, 243, 233, 0.8)), to(rgba(62, 50, 228, 0.8))), url("/img/1.jpg");
  background-image: linear-gradient(to left bottom, rgba(235, 243, 233, 0.8), rgba(62, 50, 228, 0.8)), url("/img/1.jpg");
  background-size: cover;
  background-position: center;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__heading-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__heading-primary {
  color: var(--color-white);
}

.header__heading-primary--main {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-secondary);
  -webkit-animation: moveInLeft 1s;
          animation: moveInLeft 1s;
}

.header__heading-primary--second {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-animation: moveInRight 1s;
          animation: moveInRight 1s;
}

.section-about {
  background-color: var(--color-grey-light-1);
  padding: 15rem 0 25rem;
}
/*# sourceMappingURL=main.css.map */