.btn-text {

	&::after {
		content: '\27F6';
		color: var(--color-primary);
	}

	&:hover::after {
		color: var(--color-white);
	}

	&:link,
	&:visited {
		display: inline-block;
		padding: 3px;
		color: var(--color-black);
		font-size: var(--default-font-size);
		text-decoration: none;
		transition: 0.2s;
		border-bottom: 2px solid var(--color-primary);
	}

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
		box-shadow: 0 1rem 2rem rgba($color: var(--color-black-rgb), $alpha: 0.3);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color: var(--color-black-rgb), $alpha: 0.3);
		transform: translateY(0);
	}
}
