.btn-text {
	position: relative;

	&::after {
		content: '\27F6';
		color: var(--color-primary);
		margin-left: 0.5rem;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
		display: block;
		width: 100%;
		height: 0;
		background-color: var(--color-primary);
		transition: all 0.2s;
	}

	&:link,
	&:visited {
		display: inline-block;
		padding: 3px;
		color: var(--color-black);
		border-bottom: 2px solid var(--color-primary);
		font-size: var(--default-font-size);
		text-decoration: none;
		transition: all 0.3s;
	}

	&:hover {
		// background-color: var(--color-primary);
		// color: var(--color-white);
		box-shadow: 0 1rem 2rem rgba($color: var(--color-black-rgb), $alpha: 0.3);
		transform: translateY(-2px);

		&::after {
			color: var(--color-white);
		}

		&::before {
			height: 100%;
		}
	}

	&:active,
	&:focus {
		outline: none;
		box-shadow: 0 0.5rem 1rem rgba($color: var(--color-black-rgb), $alpha: 0.3);
		transform: translateY(0);
	}
}

.btn-form {
	font-size: var(--default-font-size);
	border: none;
	padding: 0.5rem 1rem;
	border-bottom: 2px solid var(--color-primary);
	transition: 0.3s;
	background-color: transparent;
}

// .btn {

// 	&::before {
// 		content: '';
// 		position: absolute;
// 		bottom: 0;
// 		left: 0;
// 		height: 0;
// 		width: 100%;
// 		background: var(--color-primary);
// 		z-index: -1;
// 		transition: all 2s;
// 	}

// 	&:hover::before {
// 		height: 100%;
// 	}
// }
