.card-tours {
	position: relative;
	height: 52rem;
	perspective: 150rem;

	&__side {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 52rem;
		border-radius: 1rem;
		box-shadow: 0 1.5rem 4rem rgba(var(--color-black-rgb), 0.15);
		backface-visibility: hidden;
		transition: all 0.8s ease;
		overflow: hidden;

		&--front {
			background-color: var(--color-white);
		}

		&--back {
			transform: rotateY(180deg);

			&-1 {
				background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
			}

			&-2 {
				background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
			}

			&-3 {
				background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	&__picture {
		height: 100%;
		background-size: cover;
		background-blend-mode: screen;
		// clip-path: polygon(100% 0, 100% 69%, 0 100%, 0 31%);

		&--1 {
			background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)),
				url(../img/Builders-small.jpg);
		}

		&--2 {
			background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)),
				url(../img/House-small.jpg);
		}

		&--3 {
			background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)),
				url(../img/Company-small.jpg);
		}
	}

	&__heading {
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		width: 75%;
		color: var(--color-white);
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var(--color-secondary-rgb), 0.55),
				rgba(var(--color-secondary-dark-rgb), 0.9)
			);
		}

		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var(--color-secondary-rgb), 0.65),
				rgba(var(--color-secondary-dark-rgb), 0.85)
			);
		}

		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var(--color-secondary-rgb), 0.65),
				rgba(var(--color-secondary-dark-rgb), 0.85)
			);
		}
	}

	&__details {
		// padding: 3rem;
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		width: 90%;

		ul {
			width: 80%;
			margin: 0 auto;
			list-style: none;

			li {
				padding: 1rem;
				font-size: 1.5rem;
				text-align: center;

				&:not(:last-child) {
					border-bottom: 1px solid var(--color-primary);
				}

				&:last-child {
					margin-bottom: 10rem;
				}
			}
		}
	}

	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		// width: 90%;
	}

	&__price-box {
		margin-bottom: 8rem;
		color: var(--color-white);
		text-align: center;
	}

	&__price-only {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 4rem;
		font-weight: 100;
	}
}
